<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tech Market Analyzer - Home</title>
    <script src="/js/libs/d3.v7.js" type="module"></script>
    <script src="/js/libs/jquery-3.7.0.js" type="module"></script>
    <script src="/js/main.js" type="module"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="menu">
    <nav class="menu-left">
        <img class="logo" th:src="@{/images/logo.png}" alt="logo">
        <p><a class="text" href="/static">Main Page</a></p>
        <p><a class="text" href="/static">Support</a></p>
        <p><a class="text" href="/static">Help</a></p>
    </nav>
    <nav class="menu-right">
        <p><a class="text" href="/static">Login</a></p>
    </nav>
</nav>
<h1>Tech Market Analyzer</h1>
<div class="main-container">
    <div class="side-control-panel">
        <div class="button-container">
            <label>Start date:<input class="input-date-start" type="date" name="start"></label>
            <label>End date:<input class="input-date-end" type="date" name="end"></label>
            <div class="flex-row">
                <div class="flex-column">
                    <label>Inflation rate:
                        <select class="input-inflation-type" name="inflation-rate-type">
                            <option value="line">Line</option>
                            <option value="area">Area</option>
                            <option value="bar" selected>Bar</option>
                        </select>
                    </label>
                    <label>Round lines<input class="input-inflation-round" type="checkbox" checked></label>
                    <label>Show grid<input class="input-inflation-grid" type="checkbox" checked></label>
                </div>
                <div class="flex-column">
                    <label>Average Price:
                        <select class="input-average-price-type" name="average-price-type">
                            <option value="line">Line</option>
                            <option value="area" selected>Area</option>
                            <option value="bar">Bar</option>
                        </select>
                    </label>
                    <label>Trim value axis<input class="input-average-price-trim" type="checkbox" checked></label>
                    <label>Round lines<input class="input-average-price-round" type="checkbox" checked></label>
                    <label>Show grid<input class="input-average-price-grid" type="checkbox" checked></label>
                    <label>Group categories<input class="input-group-categories" type="checkbox" checked></label>
                </div>
            </div>
            <button class="display-chart-button">Display Chart</button>
            <button class="toggle-button">Select All</button>
        </div>
        <div class="input-container"></div>
    </div>
    <div class="chart-container">
        <div class="chart chart-inflation hidden" id="chart-inflation">
        </div>
        <div class="chart chart-average hidden" id="chart-average">
        </div>
        <div class="chart-info"></div>
    </div>
</div>
</body>
</html>
