<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tech Market Analyzer - Home</title>
    <script src="/js/libs/d3.v7.js" type="module"></script>
    <script src="/js/libs/jquery-3.7.0.js" type="module"></script>
    <script src="/js/main.js" type="module"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav>
    <ul>
        <li>Home</li>
        <li>Help</li>
        <li>Logout</li>
    </ul>
</nav>
<h1>Tech Market Analyzer - Home</h1>
<div class="side-control-panel"></div>
<div class="chart"></div>
<div class="chart-info"></div>
</body>
</html>
